*{

    padding: 0;
    margin: 0;
    box-sizing: border-box; 

}


.navbar {

    display: flex;
    align-items: center;                   
    background-color: #AF0707;
    padding: 0;
    margin: 0;
    height: 7vh;
    width: 100%; 
    
}

.logo {

    width: 6vh;
    height: auto;
    margin-left: -3vh;
    transition: all 0.3s ease;

}

.logo:hover{

    transform: scale(1.1);

}

.navbar-brand{

    margin-left: 1.0vh;
    margin-top: 1vh;
    color: white;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    text-decoration: none;
    transition: all 0.3s ease;

}

.navbar-brand:hover{

    transform: scale(1.1);

}

.navbar-link1{

    margin-right: 64vh;
    color: white;
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    text-decoration: none;

}

.navbar-link1:hover{
    transform: scale(1.1);
}


.imagens{

    width: 90vh;
    height: 10;

}

.background{

    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/estadao/2WPVO6K3W5AYVNEO7PUJLGELFY.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


.card {
    margin-bottom: 20px;
}

.card{

    transition: all 0.8s ease;

}

.card:hover{

    transform: scale(1.1);

}
