.corpo {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
  }

.navbar {
    background-color: #AF0707;
    padding: 1vh 0;
    color: white;
  }

.navbar-conteudo {

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  
  }

.navbar-lista li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
.navbar-lista li a:hover {
    color: #000000;
  }

.navbar-esquerda {

    display: flex;
    align-items: center;
    flex: 1;
  
  }

.navbar-centro {

    display: flex;
    justify-content: center;
    flex: 2;
  
  }

.logo {

    height: 5.5vh;
    margin-left: 2vh;
    margin-right: 2vh;
  
}

@media (max-width: 768px) {
    .navbar-conteudo {
  
      flex-direction: column;
      align-items: flex-start;
  
    }
  .navbar-lista {
  
      flex-direction: column;
      gap: 1vh;
      margin-top: 1vh;
  
    }
}

.rodape {

    background-color: #111;
    color: white;
    padding: 2vh 0;
    margin-top: 80vh;
  
  }
  
.rodape-content {
  
    max-width: 120vh;
    margin: 0 auto;
    padding: 0 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
  }

.social-icones {

    margin-top: 1vh;
  
  }
  
.social-icones a {
  
    color: white;
    font-size: 2vh;
    margin: 0 1vh;
    transition: color 0.3s;
  
  }

  .marca {

    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 2.4vh;
    font-weight: bold;
  
  }

  .botao-voltar-conteudo {

    text-align: center;
    margin: 4vh 0 2vh;
    margin-top: 10vh;

  }
  
  .botao-voltar {
  
    padding: 1vh 2vh;
    background-color: #AF0707;
    color: white;
    text-decoration: none;
    border-radius: 0.4vh;
    font-weight: bold;
  
  }
  
  .botao-voltar:hover {
  
    background-color: #AF0707;
  
  }

  .caixa{

    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80.5vh;
    margin-top: 20vh;
    height: 30vh;
    width: 40vh;
    background-color: #000000;


  }