*{

    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    overflow: hidden; 

}


.navbar {

    display: flex;
    align-items: center;                   
    background-color: #AF0707;
    padding: 0;
    margin: 0;
    height: 7vh;
    width: 100%; 
}

.logo {

    position: absolute;
    top: 0.5vh;
    left: 1vh;
    width: 6vh;
    height: auto;
    align-items: center;

}

.navbar-brand{

    margin-left: 8vh;
    color: white;
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 400;
    font-size: 2.2vh;
    text-decoration: none;

}

.navbar-link1{

    margin-right: 64vh;
    color: white;
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 400;
    font-size: 2.4vh;
    text-decoration: none;

}

div.barra3{

    display: flex;
    background-color: #AF0707;
    width: 203vh   ;
    height: 6.6vh;
    margin-top: 22vh;
    flex-direction: row-reverse;
    padding: 0 0 5vh 0;

}

.box1{

    margin-left: 20vh;
    margin-top: 15vh;
    background-color: rgb(182, 177, 177);
    height: 30vh;
    width: 150vh;
    border-radius: 0.7vh;
    color: white;
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 400;
    font-size: 2.4vh;
    text-decoration: none;
    display: flex;
    justify-content: left ;
    align-items: left;
    text-align: left;
    gap: 30px;
    
}

.imagens{

    width: 90vh;
    height: 10;

}

.background{

    background-image: url("https://cloudfront-us-east-1.images.arcpublishing.com/estadao/2WPVO6K3W5AYVNEO7PUJLGELFY.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}


body {
    background-color: #f8f9fa;
}

.navbar {
    background-color: #c00; /* vermelho SPFC */
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.imagens {
    width: 100%;
    height: auto;
}

.card {
    margin-bottom: 20px;
}