*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;  

}


h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 300;
}

.navbar {
    display: flex;
    align-items: center;                
    justify-content: center;        
    background-color: rgb(206, 15, 15);
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 300;
  }

.box{

    box-sizing: border-box;
    
    width: 900px;
    height: 600px;
    margin: 50px auto;
    background: linear-gradient(180deg, #000000 0%, rgba(255, 0, 0, 0.75) 100%);
    border: 1px solid #FEFEFE;
    border-radius: 20px;
    font-family: "Lao Muang Don", sans-serif;
    font-weight: 300;
}

h2{
    text-align: center;
    color: #ffffff;
    font-family: "Lao Muang Don", sans-serif;
}

.linha {
    display: flex;
    align-items: center;        
    justify-content: space-between; 
    gap: 50px;
    font-family: "Lao Muang Don", sans-serif;                 
  }

h3{
    color: #ffffff;
    text-align: justify;
    font-family: "Lao Muang Don", sans-serif;
}

.boxzinha{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 100px;
    background: #D9D9D9;
    border: 3px solid #000000;
    border-radius: 20px;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
}

.boxzinha:hover{
    transform: scale(1.1);
}

body{
    background-color: #000000; 
}

.btn-voltar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px 40px;
    background-color: #c00;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
    font-family: "Lao Muang Don", sans-serif;
}

.btn-voltar:hover{
    transform: scale(1.1); 
}




.logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 60px;
    height: auto;
  }
